@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
html, body{
    background-color: #0e1525;
}

*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

main{
    position: fixed;
    top: calc(50vh - 400px);
    right: calc(50vw - 300px);
    background-color: white;
    border: 3px solid #0e4e92;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    max-width: 800px;
    width: 600px;
    height: 500px;
    padding: 10px;
}

h3{
    color: #3E74BA;
    font-weight: 700;
    margin: 20px 0;
}
.inputs,
.list-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-buttons{
    list-style-type: none;
}

.list-buttons button{
    padding: 10px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    width: 100px;
    background-color: #083672;
    color: #fff;
    transition: .25s;
}

#clear_calc{
    background-color: #0C4792;
}

.list-buttons button:hover{
    background-color: #2965A3;
}

.inputs-calc span {
    font-weight: 600;
    display: block;
    color: #3E74BA;
}

.inputs-calc input {
    display: block;
    width: 130px;
    padding: 6px 10px;
    border: 1px solid #3E74BA;
    border-radius: 10px;
}

.imc-table thead td{
    background-color: #083672;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.imc-table tbody tr td{
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.table-blue td{
    color: #1f5eaf;
}

.table-row{
    color: #707070;
}

.result{
    font-weight: 600;
    color: #fff;
    background-color: #083672;
    width: 200px;
    padding: 10px 20px;
    border: 0;
    border-radius: 20px;
}

.result-cal{
    background-color: #6391CB !important;
    border: 3px solid !important;
    border-radius: 10px !important;
    color: #fff !important;
    transition: .2s;
}